# Environment
.env.local
setup_env.sh

# Python
*.pyc
*.pyo
__pycache__/
.Python
bin/
include/
lib/
distribute-*

# Data
data/users.json

# IDE
.idea/
.vscode/
.DS_Store

# Old Lambda artifacts
bundle/
bundle.zip
